#header-inner {
  margin: 10px auto;
}

#header-inner h2 {
  margin: 0 0 0 10px;
}

.carousel {
  width: 50%;
  margin: 0 auto;
  transition:box-shadow 0.3s, transform 0.3s;
}

.carousel-inner {
  margin: 100px 0;
  justify-content: center; 
}

.carousel-item img {
  width: 50%;
  height: 400px;
  object-fit: cover;
  /* width: 0 auto; */
  /* margin:-6px 0 0 -10px; */
  transition:filter 0.3s;
}

/* .carousel-item {
  transition:box-shadow 0.3s, transform 0.3s;
} */

.carousel:hover {
  box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
  /* transform:translate(0, -2px); */
  transform:scale(1.1);
  filter:blur(5px);
}

#skill {
  background-color: #FBFCFF;
  text-align: center;
  padding: 80px 80px 80px 80px;
}

#skill h2 {
  color: #2B262E;
}

footer {
  background-color: #344699;
  text-align: center;
  padding: 60px 80px 80px 80px;
}

footer h2 {
  color: #FBFCFF;
}